<ul class="list-group contentText tealborder">
  <div class="list-group-item centerall">

    <h1>My name is Donald Ford</h1>

    <img class="myimage" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11903851_10206560550605714_4089737132903438280_n.jpg?oh=18eb7cd3f320959c69bae5f51a904793&oe=5739807C">

    <p>A little about me...</p>
    <p>I am from Colorado</p>
    <p>I am studying Bioinformatics</p>
    <p>I served a mission in Hong Kong</p>
    <p>I have the most amazing wife ever</p>

    <pre class="red">P.S. Push the buttons on the weather pages</pre>

  </div>
</ul>
