
<h1 class="myh1">Resume</h1>

<ul class="list-group contentText tealborder">
  <div class="list-group-item">
    <li class="title">Education <hr class="tealbordersmall">
      <ul>

        <li class="subtitle">Brigham Young University
          <ul class="subsubtitle">
            <li>Major: Bioinformatics</li>
            <li>Status: Senior</li>
            <li>Expected Graduation: April 2017</li>
          </ul>

        </li>
      </ul>

    </li>
    <br>
    <li class="title">Skills <hr class="tealbordersmall">
      <ul>

        <li class="subtitle">Computer Programming/Information Technology
          <ul class="subsubtitle">
            <li>Programming Languages: Python, Java, C++, HTML, CSS, JavaScript, AngularJS, R </li>
            <li>Currently Learning: C#, Bash scripting </li>
            <li>Familiar with using: Windows, Linux, Command line, Git, Vim, SSH, Telnet, Virtual Machines </li>

          </ul>
        </li>
        <li class="subtitle">Languages</li>
        <ul class="subsubtitle">
          <li>Fluent in spoken Cantonese</li>
          <li>Basic knowledge of Mandarin Chinese</li>

        </ul>
      </ul>
    </li>
    <br>
    <li class="title">Work Experience <hr class="tealbordersmall">
      <ul>

        <li class="subtitle">Web Developer
          <ul class="subsubtitle">
            <li>Develop language learning web applications using HTML, CSS, JavaScript and AngularJS</li>
            <li>Participate in the scrum software development cycle including taking part in daily standup meetings, sprint planning sessions and backlog refinements</li>

          </ul>
        </li>
        <li class="subtitle">Network Operations Computing Specialist Supervisor</li>
        <ul class="subsubtitle">
          <li>Assist in major incident coordination including contacting engineers to troubleshoot outages, keeping a log of decisions made and actions taken, as well as filling out resolution reports used to improve troubleshooting and prevent future outages</li>
          <li>Actively monitor network devices and troubleshoot network alerts through application of Knowledgebase. These devices include servers, switches, access points, classroom tech podiums, etc. </li>
          <li>Train new hires and supervise team members to ensure a balanced workload, match skills with coverage needs, and maximize the team’s ability to effectively and efficiently respond to University networking situations and assist end users in resolving computer problems</li>
        </ul>
      </ul>
    </li>
    <br>
    <li class="title">Volunteer Service <hr class="tealbordersmall">
      <ul>

        <li class="subtitle">Research Volunteer
          <ul class="subsubtitle">
            <li>Develop scripts to assist in performing laboratory analysis</li>
            <li>Currently working on a software package to streamline the genome assembly tool Velvet</li>
          </ul>
        </li>
        <li class="subtitle">Church Missionary Volunteer </li>
        <ul class="subsubtitle">
          <li>Supervise and provide leadership for other church missionary volunteers, including conducting training and coordination meetings, providing encouragement and support, and coordinating weekly reporting</li>
          <li>Provide various community services to people in need, including teaching free English classes</li>

        </ul>
      </ul>
    </li>
  </div>
</ul>
